.canvas{
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.bulb-off{
    width: 800px;
    height: 600px;
    background: url('lightoff.png') no-repeat;
    margin: auto;
}

.bulb-on{
    width: 800px;
    height: 600px;
    background: url('lighton.png') no-repeat;;
    margin: auto;
}